html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    background-color: rgb(115, 115, 115);
  }

  .box{
    max-width: 80vw;
    max-height: 80vh; 
    width: 27vw;
    height: 41vh;
    border: 3px solid;
    resize: both;
     overflow: hidden;

  }
  .box::-webkit-resizer {
    background-color: transparent;
}

.horizontal_panel{
  display: flex;
}

  .content{
    height: 80vh;
    display: flex;
    flex-direction: column;
  }


  .container{

    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    width: 80vw; 

    align-content: flex-start;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
            

  }

  .newDiv{

    height : 25px;
    width : 25px;
    background-color : white;
    border : 1px solid dimgray;
    display: flex;
    flex-grow: 1;

}