html {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .newDiv{
    box-sizing: content-box;
  }

  


  body{
    background-color: rgb(115, 115, 115);
    margin: 0px;
    padding: 0px;    
  }

  .box{
    width: 27vw;
    height: 40vh;
    border: 0.6vh solid;
    resize: both;
    overflow: hidden;

    max-width: 3vw;
    max-height: 3vh;
    box-shadow: 0.5vh 0.5vh rgba(0, 0, 0 , 0.5);

  }
  .box::-webkit-resizer {
  background-color: transparent;
    
}

.horizontal_panel{
  display: flex;
}

  .content{
    height: 80vh;
    display: flex;
    flex-direction: column;
  }

  .scroll{

    overflow: auto;
    width: 80vw;
    height: 80vh;
    max-width: 80vw;
    max-height: 80vh;
    padding-bottom: 5vh;
    padding-right: 5vh;

  }

  .container{

    display: grid;
    align-content:  start;
  
    background-color: white;
   /* overflow: hidden; /* use in resize mode update */
  
    max-height: fit-content;
    max-width: fit-content; 


         

  }

  .colors_container{
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 28vh;
    background-color: blanchedalmond;
    border: 0.3vh solid black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
  }

  .colorcolumn{
    display: flex;
  }
  .color{
    margin: 0.2vh;
    height: 2.2vh;
    width: 2.2vh;
    background-color: rgb(127, 45, 45);
    border: 0.3vh solid black;
    box-shadow: -0.1vh 0.2vh rgba(0, 0, 0 , 0.5);
    


  }


  .toolbox,
  .layerbox{
    width: 10vw;
    height: 80vh;
    border: 0.3vh solid rgb(123, 123, 123);
    background-color: rgb(32, 33, 31);
    display: flex;
    flex-direction: column;
    padding: 0.5vh;
    gap:0.5vh;
    justify-content: space-between;
  }
  
  .layerbox{
    height: 100vh;
    position: absolute;
    right: 0px; 
    justify-content: flex-start;
  }

  .header,
  .footer{
    max-height: 10vh;
    min-height: 10vh;
    width: 90vw;
    border: 0.2vh solid rgb(164, 59, 59);
    background-color: rgb(57, 20, 27);
    display: flex;
    padding: 1vh;
    gap:0.5vh;
    
  }

  .footer{
    max-height: 8vh;
    min-height: 8vh;
    padding: 0.5vh;
  }

  .newDiv{

    border : 1px solid dimgray;
    /* transition: all 1s ease !important; */


}




.newDiv:hover{
  border : 4px solid rgb(230, 102, 102) !important;
  box-sizing: border-box;
  margin: auto;

}


button{
  font-size: 2vh;

  min-width: 5vw;
  border-radius: 1vh;
}


.div_button:hover{
background-color: orange;
}

.div_button{
  font-size: 2.5vh;
  font-weight: bold;
  min-height: 4vh;
  min-width: 5vw;
  color: white;
  background-color:rgb(163, 103, 121);
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;

}


.div_color_pick{
  
  width: 100%;
  height: 25vh;
  background-color: rgb(86, 99, 95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5vh
  
}

#selected_color{
  
  height: 8vh;
  width: 8vh;
  background-color: rgb(0, 0, 0);
  border: 0.4vh solid black;
  box-shadow: 0.5vh 0.5vh rgba(0, 0, 0 , 0.5);
}

#color_picker{
  height: 10vh;
  width: 8vw;
  background-color: azure;
  border: 0.4vh solid black;
}

.roronoa{
  
  font-size: 1.5vh;
  
}

.disablelayer{
  
  width: 3vh;
  height: 4vh;
  background-color: green;
  border: 0.3vh solid green;
  
}

.deletelayer{
  width: 3vh;
  height: 4vh;
  background-color: rgb(128, 0, 0);
  border: 0.3vh solid rgb(128, 0, 0);

}

.up,
.down{
  width: 3vh;
  height: 1.8vh;
  background-color: rgb(162, 152, 176);
  border: 0.3vh solid rgb(38, 27, 61);
  
}

.up:hover,
.down:hover{
  
  background-color: rgb(255, 255, 255);
  
  
}

.layercontainer{
  
  display: flex;
  
  
}
.div_layer_button{
  font-size: 2vh;
  font-weight: bold;
  height: 4vh;
  width: 5vw;
  max-width: 5vw;
  color: white;
  background-color:rgb(163, 103, 121);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;

}

